@import '../modules/constants';

@mixin button() {
    background: #fff;
    border-radius: 50%;
    box-shadow: $box-shadow;
    display: inline-block;
    margin: 1rem;
    padding: 50px;
    position: relative;
    transition: $transition;
}