@import '../mixins/button';

.action-bar {
    background-color: #fff;
    bottom: 0;
    font-size: $action-bar-font-size;
    padding: 25px 0;
    position: fixed;
    text-align: center;
    width: 100%;

    &__button,
    &__tempo-input,
    &__time-signature-input,
    &__time-signature-input select {
        display: inline-block;
        font-size: $action-bar-font-size;
    }

    &__button {
        @include button();

        cursor: pointer;
        font-family: $font-family;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
    &__tempo-input {
        border: none;
        border-radius: 3px;
        margin-left: 5px;
        padding: 5px;
    }
    &__time-signature-input {
        margin-left: 5px;

        select {
            appearance: none;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            font-family: $font-family;
            padding: 5px;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
}