.pitch {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 3px 5px;

    &:hover {
        background-color: #e2e2e2;
    }

    &--active {
        background-color: $charcoal;

        &:hover {
            background-color: $charcoal;
        }
    }
}